.eightBox {
  width: 80%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: $margin-bottom;
  img {
    @include img;
    &:hover {
      opacity: 0.5;
      @include transition;
    }
    @include transition;
  }
}
