section {
  &.section_1 {
    background-color: #fbf7f6;
  }
  &.section_2 {
    background-color: #f3ede9;
  }
  &.section_3 {
    background-color: #dee8e9;
  }
  &.section_4 {
    background-color: #f9dbbd;
  }
  @include section;
  width: 80%;
  margin-bottom: $margin-bottom;
  aspect-ratio: 2 / 1;
  img {
    grid-column: 1 / 2;
    @include img;
  }
  div {
    @include img_detail;
    div {
      flex-direction: row;
      button {
        @include button;
      }
      button:not(.arrow) {
        width: 240px;
      }
    }
  }
}
